doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="/assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="/assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ../usuario.pug  
            br
            br

            #main           
                article.active
                    include ../menu.pug   
                    br
                    br
                    
                    section
                        h3.major Cadastro de JMJ
                        form#cadastrar_jmj
                            .field.half.first
                                label(for="pais") País*
                                input(type="text", name="pais", value="", placeholder="Exemplo: Polônia")
                            .field.half
                                label(for="cidade") Cidade
                                input(type="text", name="cidade", value="", placeholder="cidade")                            
                            .field.half.first
                                label(for="ano") Ano*
                                input(type="text", name="ano", value="", placeholder="Exemplo: 2019")
                            .field.half
                                label(for="periodo") Período
                                input(type="text", name="periodo", value="", placeholder="Exemplo: 08/12/19 até 10/12/19")
                            .field
                                label(for="lema") Lema*
                                input(type="text", name="lema", value="", placeholder="Lema")
                            label *Campos Obrigatórios
                            ul.actions(style="text-align: right")
                                li
                                    a.button(href="/jmj") Cancelar 
                                li
                                    input.special(type="submit", value="Cadastrar")
                                
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
#bg

//scripts
script(src="/assets/js/jquery.min.js")
script(src="/assets/js/cadastrar/cadastrar_jmj.js")