doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="/assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="/assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ../usuario.pug                            
            br
            br
            #main 
                article.active                                  
                    include ../menu.pug    
                    br
                    br
                    
                    section
                        h3.major Lista de JMJ'S
                        h4= message
                        .table-wrapper
                            table
                                thead
                                    tr
                                        th Ano
                                        th Quantidade de Grupos 
                                        th(style="padding-left: 21em") Visualizar Detalhes da JMJ
                                        th Editar Dados
                                        th Excluir JMJ
                                tbody#lista_jmj                                                                                                        
                              
                            a.button.special(href="/jmj/cadastrar" style="margin-left: 60em") Cadastrar JMJ                                            
                                            
                        
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
#bg

//scripts
script(src="/assets/js/jquery.min.js")
script(src="/assets/js/listar/listar_jmj.js")