doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="assets/css/main.css")
        link(rel="stylesheet", href="assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ./usuario.pug
            // Header            
            header#header
                .logo
                    span.icon-icone(style="font-size: 80px; line-height: 5.4rem;")
                .content
                    .inner
                        h1 JMJ 2019#{ano_jmj}
                        p #{lema_jmj}
                nav
                    ul
                        li
                            a(href="/jmj")  &nbsp JMJ'S &nbsp 
                        li
                            a(href="/grupos") &nbsp GRUPOS &nbsp 
                        li
                            a(href="/peregrinos") PEREGRINOS                                              
                        li
                            a(href="/pagamento") PAGAMENTOS
                        li
                            a(href="/outros") OUTROS
            br 
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
        #bg