header#header                                  
    nav
        ul
            li
                a(href="/jmj")  &nbsp JMJ'S &nbsp
            li
                a(href="/grupos") &nbsp GRUPOS &nbsp 
            li
                a(href="peregrinos") PEREGRINOS                                              
            li
                a(href="pagamento") PAGAMENTOS