header#header                                  
    //nav
    ul.menu
        case permissoes
            when 1
                li
                    a(href="/")  &nbsp INÍCIO &nbsp
                li
                    a(href="/jmj")  &nbsp JMJ'S &nbsp
                li
                    a(href="/grupos") &nbsp GRUPOS &nbsp 
                li
                    a(href="/peregrinos") PEREGRINOS                                              
                li
                    a(href="/pagamentos") PAGAMENTOS
                    ul
                        li
                            a(href="/outros") PARCELA
                        li
                            a(href="/outros") CAIXA
                li
                    a(href="/outros") OUTROS
                    ul
                        li
                            a(href="/a") PAROQUIAS
                        li
                            a(href="/outros") FUNÇÕES
                        li
                            a(href="/outros") AGÊNCIA DE TURISMO
                        li
                            a(href="/outros") TABELA DE CUSTOS