doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="/assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="/assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ../usuario.pug                            
            br
            br
            #main 
                article.active                                  
                    include ../menu.pug    
                    br
                    br
                    
                    section
                        h3.major Outros
                        .table-wrapper
                            table                                
                                tbody
                                    tr
                                        td(style="padding-left: 2em")  Paróquias
                                        td(style="padding-left: 20em") 
                                            a.button.special(href="/outros/paroquias/cadastrar") Cadastrar 
                                        td(style="padding-left: 1em") 
                                            a.button(href="#") Visualizar 
                                        td(style="padding-right: 1em")  
                                            a.button(href="#") Editar 
                                        td
                                            a.button(href="#") Excluir
                                tbody
                                    tr
                                        td(style="padding-left: 2em")  Funções
                                        td(style="padding-left: 20em") 
                                            a.button.special(href="/outros/funcoes/cadastrar") Cadastrar 
                                        td(style="padding-left: 1em") 
                                            a.button(href="#") Visualizar 
                                        td(style="padding-right: 1em")  
                                            a.button(href="#") Editar 
                                        td
                                            a.button(href="#") Excluir
                                tbody
                                    tr
                                        td  Agência de Turismo
                                        td(style="padding-left: 20em") 
                                            a.button.special(href="/outros/agencia/cadastrar") Cadastrar 
                                        td(style="padding-left: 1em") 
                                            a.button(href="#") Visualizar 
                                        td(style="padding-right: 1em")  
                                            a.button(href="#") Editar 
                                        td
                                            a.button(href="#") Excluir
                                br
                                tbody
                                    tr
                                        td  Tabela de Custos
                                        td(style="padding-left: 20em") 
                                            a.button.special(href="/outros/custos/cadastrar") Cadastrar 
                                        td(style="padding-left: 1em") 
                                            a.button(href="#") Visualizar 
                                        td(style="padding-right: 1em")  
                                            a.button(href="#") Editar 
                                        td
                                            a.button(href="#") Excluir                                                                       
                                                                           
                                            
                        
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
#bg