doctype html
//
    Dimension by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
    head
        title Sistema JMJ
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/assets/css/main.css")
        link(rel="stylesheet", href="/assets/icomoon/style.css")
        //if lte IE 9
            link(rel="stylesheet", href="/assets/css/ie9.css")
        noscript
            link(rel="stylesheet", href="/assets/css/noscript.css")
    body
        // Wrapper
        #wrapper
            include ../../usuario.pug  
            br
            br

            #main           
                article.active
                    include ../../menu.pug   
                    br
                    br
                    
                    section
                        h3.major Cadastro de Custos da JMJ
                        form(method="post", action="#")
                            .field.half.first
                                label(for="pais") Data Limite de Pagamentos 
                                input#demo-name(type="text", name="pais", value="", placeholder="")
                            .field.half
                                label(for="cidade") Taxa de Inscrição
                                input#demo-name(type="text", name="cidade", value="", placeholder="")
                            .field.half.first
                                label(for="pais") Valor Passagem Internacional 
                                input#demo-name(type="text", name="pais", value="", placeholder="")
                            .field.half
                                label(for="cidade") Valor Passagem Nacional
                                input#demo-name(type="text", name="cidade", value="", placeholder="")
                            .field
                                label(for="observacao") Valor Parte Terrestre
                                input#demo-name(type="text", name="cidade", value="", placeholder="")
                            .field
                                label(for="observacao") Observações
                                textarea#demo-message(name="observacao", placeholder="Anotações", rows="4")
                            ul.actions
                                li
                                    input.special(type="submit", value="Cadastrar Custos")
                                li
                                    input(type="reset", value="Cancelar")
            // Footer
            footer#footer
                p.copyrigh
                    | © Todos os direitos reservados. Design: 
                    a(href="https://html5up.net") GABRIELA
                    | .
#bg